<div class="row">
  <div class="col-sm-12">
    <img src="{{ recipe.imagePath }}" alt="" />
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div
      class="btn-group"
      role="group"
      aria-label="Button group with nested dropdown"
    >
      <div class="btn-group" role="group" appDropdown>
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Manage
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a
            (click)="onAddToShoppingList()"
            class="dropdown-item"
            style="cursor: pointer"
            >To Phones</a
          >
          <a
            (click)="onEditRecipe()"
            class="dropdown-item"
            style="cursor: pointer"
            >Edit </a
          >
          <a
            class="dropdown-item"
            style="cursor: pointer"
            (click)="onDeleteRecipe()"
            >Delete </a
          >
          <a class="dropdown-item" style="cursor: pointer">Manage </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ recipe.description }}
  </div>
</div>

